/* PAGE */
body, header, footer {
	margin: 0;
}

body {
	background: linear-gradient(to right, #DC3500, #9000DC);
}

main {
	margin: 5% 18%;
	background: #FFFFE8;
	border-radius: 10px;
	padding: 0.5% 2%;
	box-shadow: 0 0 1vw #101010;
}

main.alternate_layout {
	margin: 5% 4%;
}

header {
	z-index: 999;
}

footer {
	background: #202020;
	height: 10vh;
}

footer div {
	margin: 0 auto;
	color: #FFFFFF;
	width: 80%;
	text-align: center;
}

.logo {
	background: #5575FF;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 10px;
	padding: 5px;
}

:target:before {
	content:'';
	display:block;
	height:60px;
	margin-top:-60px;
}

/* A SUPPRIMER BIENTOT */
.bg-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('https://img.freepik.com/photos-gratuite/fond-ecran-colore-multicolore-ia-generative_91128-2257.jpg?w=2000');
	height: 100vh;
}

.page{
	position: center;
	height: 100%;
}

/* NAV-BAR */

.top-bar {
	background:#202025;
	height: 55px;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
}

#menu {
	margin: 0 auto;
	width: 75%;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu li.empty {
	margin: 0vw;
}

#menu a {
	display: block;
	line-height: 55px;
	padding: 0 14px;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\23F7";
	margin-left: 5px;
}

#menu li a:hover {
	color: #202020;
	background: #F2F2F2;
}

#menu ul.sub-menu {
	height: auto;
	overflow: hidden;
	width: 150%;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menu li {
	display: block;
	width: 100%;
}

#menu ul.sub-menu a {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 250%;
}

#menu li:hover ul.sub-menu {
	display: block;
}

#menu ul.sub-menu a:hover {
	background: #F2F2F2;
	color:#444444;
}

#menu a:visited{
	color: #F2F2F2;
}

