/* Responsive design */

@media (min-width: 650px) {
	main {
		margin: 5% 18%;
		border-radius: 10px;
		box-shadow: 0 0 1vw #101010;
	}

	.top-bar {
		height: 55px;
		margin: 0 auto;
		position: fixed;
		top:0;
		left: 0;
	}

	#menu li {
		float: left;
		display: inline;
		position: relative;
	}

	#menu a {
		line-height: 55px;
		padding: 0 14px;
	}

	#menu ul.sub-menu {
		position: absolute;
		width: 150%;
		border-radius: 0px 0px 10px 10px;
	}
	
	#menu a.dropdown-arrow:after {
		content: "\23F7";
		margin-left: 5px;
	}
}

@media (max-width: 650px) {
	main {
		margin: 0% 0%;
	}

	.top-bar {
		margin : 0 auto;
		padding: 10px 1px;
	}

	#menu a {
		padding: 0 14px;
		line-height: 40px;
		border-radius: 10px;
	}

	#menu a.dropdown-arrow {
		pointer-events: none;
	}

	#menu li.active a.dropdown-arrow {
		pointer-events: auto;
	}

	#menu ul.sub-menu {
		border-radius: 10px;
	}

	#menu a.dropdown-arrow:after {
		content: "\25BC";
		margin-left: 5px;
	}

	#menu li.active ul.sub-menu {
		display: block;
	}
}


/* PAGE */
body, header, footer {
	margin: 0;
}

h, h1, h2{
	clear: both;
}

p {
	text-align: justify;
}

.container{
	height: 80vh;
	padding: 1%;
}
        
#mynetwork {
	float: left;
	height: 70vh;
	width: 50%;
	z-index:-999;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

img.float-right {
	margin: 10px 0px 10px 20px;
	background-color: #F5F5F5;
	border-radius: 10px;
	max-width: 260px;
}

img.float-left {
	margin: 10px;
	padding: 10px;
	background-color: #FCFCFC;
	border-radius: 10px;
	max-width: 260px;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background: #9000DC;
	/*background: linear-gradient(to right, #DC3500, #9000DC);*/
}

main {
	background: #FFFFE8;
	padding: 0.5% 2%;
}


main.alternate_layout {
	margin: 5% 4%;
}

header {
	z-index: 999;
}

footer {
	background: #202020;
	height: 10vh;
}

footer div {
	margin: 0 auto;
	color: #FFFFFF;
	width: 80%;
	text-align: center;
}

.logo {
	background: #5575FF;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 10px;
	padding: 5px;
}

:target:before {
	content:'';
	display:block;
	height:60px;
	margin-top:-60px;
}


/* NAV-BAR */

.top-bar {
	background:#202025;
	width: 100%;
}

#menu {
	margin: 0 auto;
	width: 75%;
}

#menu a:visited{
	color: #F2F2F2;
}

#menu ul, #menu li {
		margin: 0 auto;
		padding: 0;
		list-style: none;
}

#menu a {
	display: block;
	text-decoration: none;
	color: #F2F2F2;
	font-size: 16px;
}

#menu li a:hover {
	color: #202020;
	background: #F2F2F2;
}

#menu ul.sub-menu {
	height: auto;
	overflow: hidden;
	background: #444444;
	z-index: 99;
	display: none;
}

#menu ul.sub-menu li {
	display: block;
	width: 100%;
}

#menu ul.sub-menu a {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 250%;
}

#menu li:hover ul.sub-menu {
	display: block;
}

#menu ul.sub-menu a:hover {
	background: #F2F2F2;
	color:#444444;
}


#menu ul {
	width: 100%;
}